@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');


@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 576px) {
	html {
		font-size: 8px;
	}
}
@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
}
@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

